* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
   }

  body, html {
    height: 100%;
    color: gold;
    background-color: rgb(40, 82, 40);
  }
  
 
  #gameZone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

 
  #dies {
    display: flex;
    flex-direction: row;
    margin-left: 430px;
    justify-content: center;
    width: 650px;
    align-items: center;
 }

  #die1 {
    background-color: brown;
    height: 75px;
    width: 75px;
    padding: 50px;
    margin: 50px auto;
    border: 10px solid gray;
    border-radius: 10px;  
    border-color: gold;
    font-size:80px;
    color: gold;
  }

  #die2 {
    background-color: brown;
    height: 75px;
    width: 75px;
    padding: 50px;
    margin: 50px auto;
    border: 10px solid gray;
    border-radius: 10px; 
    border-color: gold; 
    font-size:80px;
    color: gold;
  }

  #rollButton {
    font-size: 150%;
    font-weight: bold;
    color: gold;
  }

  
  
